*, 
::before, 
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.hero-container {
    width: 100%
    max-height: 700px;
    position: absolute;
}

.hero-image {
    width: 100%;
    max-height: 700px;
    position: relative;
    overflow: hidden;
}

.hero-image>img {
    width: 100%;
    opacity: 0.5;
}

.top-nav{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding: 5px 10px;
    position: relative;
}

.user-login {
    height: 30px;
    flex: 1;
}


.nav-toggle {
    background-color: transparent;
    border: none;
    min-height: 30px;
}

.hamburger {
    display: block;
    height: 4px;
    width: 25px;
    background-color: black;
    border-radius: 5px;
}

.hamburger::before {
    content: "";
    position: relative;
    left: 0px;
    right: 0px;
    top: -7px;
    display: block;
    background-color: black;
    width: 25px;
    height: 4px;
    border-radius: 5px;
}

.hamburger::after {
    content: "";
    position: relative;
    left: 0px;
    right: 0px;
    top: 3px;
    display: block;
    background-color: black;
    width: 25px;
    height: 4px;
    border-radius: 5px;
}

 .right {
    display: inline-flex;
    justify-content: right;
    gap: 5px;
 }

.login {
    min-width: 100px;
    max-width: 200px;
    background-color: #646E71;
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
}

.hero-text {
    width: 100%;
    text-align: left;
    padding: 0px 20px;
    font-size: xx-large;
    color: black;
    font-weight: bolder;
    position: relative;
    z-index: 99;
}

@media (max-width: 900px) {
    
    .hero-container {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        max-height: none;
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px;
        margin: 100px 0px;
    }

    .hero-text {
        font-size: 20px;
    }
}