*, 
::before, 
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


.hero-container {
    background-color: #ffffff;
    width: 70%;
    max-height: 700px;
    position: absolute;
    left: 15%;
    padding: 50px;
}

.hero-wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
}

.hero-image {
    width: 100%;
    max-height: 700px;
    position: relative;
    overflow: hidden;
}

.hero-image>img {
    width: 100%;
    opacity: 0.5;
}

.top-nav{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    background-color: #6c6e6e50;
}

.user-login {
    height: 30px;
    flex: 1;
}


.nav-toggle {
    background-color: transparent;
    border: none;
    min-height: 30px;
}

.hamburger {
    display: block;
    height: 4px;
    width: 25px;
    background-color: black;
    border-radius: 5px;
}

.hamburger::before {
    content: "";
    position: relative;
    left: 0px;
    right: 0px;
    top: -7px;
    display: block;
    background-color: black;
    width: 25px;
    height: 4px;
    border-radius: 5px;
}

.hamburger::after {
    content: "";
    position: relative;
    left: 0px;
    right: 0px;
    top: 3px;
    display: block;
    background-color: black;
    width: 25px;
    height: 4px;
    border-radius: 5px;
}

 .right {
    display: inline-flex;
    justify-content: right;
    gap: 5px;
 }

.login {
    min-width: 100px;
    max-width: 200px;
    background-color: #646E71;
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #FFFFFF;
}

.hero-text {
    width: 100%;
    text-align: left;
    padding: 0px 20px;
    font-size: xx-large;
    color: black;
    font-weight: bolder;
    position: relative;
}



.ham-menu {
    overflow: hidden;
    position: absolute;
    z-index: 100;
    width: 40%;
    top: 40px;
    left: 2px;
    background-color: #3f4547;
}

.ham-menu #links {
    display: none;
}

.links-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.links-menu>span {
    padding: 20px;
    height: fit-content;
}

.links-menu>span:hover {
    background-color: #406977;
    transition: ease-in-out 100ms;
}

.links-menu>span>a {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color:white;
    border-bottom: 1px solid #646E71;
}

.ham-menu {
    overflow: hidden;
    position: absolute;
    z-index: 100;
    width: 40%;
    top: 40px;
    left: 2px;
    background-color: #3f4547;
    display: none;
}

.links-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.links-menu>span {
    padding: 20px;
    height: fit-content;
}

.links-menu>span:hover {
    background-color: #406977;
    transition: ease-in-out 100ms;
}

.links-menu>span>a {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color:white;
    border-bottom: 1px solid #646E71;
}

.article-container {
    width: 100%;
    height: fit-content;
    background-color: #6c6e6e;
    padding: 30px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.article-header {
    font-size: 2rem;
    color: black;
    font-weight: bolder;
    padding-bottom: 20px;
}

.article-para {
    padding-bottom: 10px;
    columns: 2;
}

.footer-info {
    text-align: left;
    padding-top: 20px;
}

.social-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 150px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-list>li {
    list-style: none;
}

.footer-list>li:hover {
    cursor: pointer;
}

.footer-list>li>a>img{
    height: 20px;
    width: 20px;
}

.form-popup {
    position: absolute;
    border: none;
    border-radius: 20px;
    display: none;
    width: 400px;
    height: 60vh;
    top: 200px;
    background-color: #3f4547e7;
}

.form-container {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    color: white;
    text-align: center;
}

.form-container>input {
    background-color: #d3d3d3;
    padding: 3px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    height: 25px;

}

.form-btn {
    background-color: d3d3d3;
    border: 1px solid rgb(0, 255, 64);
    width: 50%;
    height: 30px;
    border-radius: 10px;
    align-self: center;
}

.form-btn:hover {
    background-color: rgb(0, 255, 64);
}

.btn-cancel {
    border: 1px solid red;
}

.btn-cancel:hover {
    background-color:red;
}

@media (max-width: 1000px) {
    
    .hero-container {
        display: flex;
        width: 100%;
        left: 0%;
        flex-direction: column;
        max-height: none;
        padding: 0px;
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px;
        margin: 100px 0px;
    }

    .hero-text {
        font-size: 20px;
    }

    .ham-menu {
        overflow: hidden;
        position: absolute;
        z-index: 100;
        width: 40%;
        top: 40px;
        left: 2px;
        background-color: #3f4547;
        display: none;
    }
    
    .links-menu {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .links-menu>span {
        padding: 20px;
        height: fit-content;
    }

    .links-menu>span:hover {
        background-color: #406977;
        transition: ease-in-out 100ms;
    }

    .links-menu>span>a {
        font-size: 20px;
        font-weight: bolder;
        text-decoration: none;
        color:white;
        border-bottom: 1px solid #646E71;
    }

    .article-container {
        width: 100%;
        height: fit-content;
        background-color: #6c6e6e;
        padding: 30px;
        text-align: center;
        color: white;
        margin-bottom: 50px;
    }

    .article-header {
        font-size: 2rem;
        color: black;
        font-weight: bolder;
        padding-bottom: 20px;
    }

    .article-para {
        padding-bottom: 10px;
        columns: 1;
    }
    
    .footer-info {
        text-align: left;
        padding-top: 20px;
    }

    .social-footer {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        min-height: 150px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer-list>li {
        list-style: none;
    }

    .footer-list>li:hover {
        cursor: pointer;
    }

    .footer-list>li>a>img{
        height: 20px;
        width: 20px;
    }

    .form-popup {
        position: absolute;
        border: none;
        border-radius: 20px;
        display: none;
        width: 80vw;
        max-width: 400px;
        height: 60vh;
        top: 200px;
        background-color: #3f4547e7;
    }

    .form-container {
        height: 100%;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        color: white;
        text-align: center;
    }

    .form-container>input {
        background-color: #d3d3d3;
        padding: 3px;
        padding-left: 10px;
        border: none;
        border-radius: 5px;
        width: 80%;
        align-self: center;
        height: 25px;

    }

    .form-btn {
        background-color: d3d3d3;
        border: 1px solid rgb(0, 255, 64);
        width: 50%;
        height: 30px;
        border-radius: 10px;
        align-self: center;
    }

    .form-btn:hover {
        background-color: rgb(0, 255, 64);
    }

    .btn-cancel {
        border: 1px solid red;
    }

    .btn-cancel:hover {
        background-color:red;
    }
    
}